/* Theme color palette */
:root {
  /* Base Palette */

  --primary-color: steelblue;
  --accent-color: #1e537e;
  --bg-color: #4d5561;
  --bg-accent-color: #e2e8f0;

  /* ---------------------- */
  /* Navbar colors          */
  /* ---------------------- */

  --nav-bg: linear-gradient(
    0deg,
    var(--accent-color) 0%,
    var(--primary-color) 90%
  );
  --nav-logo-text: white;
  --nav-logo-text-hover: white;

  /* ---------------------- */
  /* Nav Link colors        */
  /* ---------------------- */

  --navlink-text: white;
  --navlink-text-hover: var(--primary-color);
  --navlink-text-border: 1px solid var(--primary-color);
  --navlink-before: linear-gradient(
    90deg,
    transparent,
    rgba(30 83 126 / 10%),
    transparent
  );

  /* ---------------------- */
  /* Hero colors            */
  /* ---------------------- */

  --hero-text-title: white;
  --hero-call-btn-bg: linear-gradient(
    0deg,
    var(--accent-color) 0%,
    var(--primary-color) 90%
  );
  --hero-call-btn-hover: var(--primary-color);

  /* ---------------------- */
  /* Section colors         */
  /* ---------------------- */

  --section-bg: linear-gradient(
    180deg,
    var(--bg-color) 0%,
    var(--bg-accent-color) 100%
  );
  --section-bg-alt: linear-gradient(
    180deg,
    var(--bg-color) 0%,
    var(--bg-accent-color) 100%
  );
  --section-text-title: linear-gradient(180deg, white 0%, white 100%);
  --section-card-border: linear-gradient(
    90deg,
    white 0%,
    var(--primary-color) 100%
  );

  /* ---------------------- */
  /* Subsection colors      */
  /* ---------------------- */

  --subsection-text-title: black;
  --subsection-divider: linear-gradient(
      90deg,
      var(--primary-color) 0%,
      #e5e7eb 50%,
      var(--primary-color) 100%
    )
    1;
  --subsection-text-subtitle: var(--primary-color);
  --subsection-card-hover: var(--primary-color);
  --subsection-border-left: var(--primary-color);
  --subsection-links: var(--primary-color);
  --subsection-links-hover: var(--primary-color);
  --subsection-flip-indicator: var(--primary-color);
  --subsection-image-hover: var(--primary-color);
  --subsection-tag: linear-gradient(
    0deg,
    var(--accent-color) 0%,
    var(--primary-color) 90%
  );
  --subsection-tag-hover: var(--primary-color);
  --subsection-cite: var(--primary-color);

  /* ---------------------- */
  /* Scroll Top Button      */
  /* ---------------------- */

  --scroll-top-btn-bg: linear-gradient(
    135deg,
    var(--accent-color) 0%,
    var(--primary-color) 100%
  );
  --scroll-top-btn-shadow: 0 4px 12px rgba(186 189 194 / 30%);
  --scroll-top-btn-hover: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--accent-color) 100%
  );
  --scroll-top-btn-hover-shadow: 0 8px 20px rgba(34, 35, 36, 0.4);
  --scroll-top-btn-focus-shadow: 0 8px 20px rgba(255, 255, 255, 0.82);
  --scroll-top-btn-pulse-shadow: 0 8px 20px rgba(255, 255, 255, 0.6);

  /* ---------------------- */
  /* Floating Call Button   */
  /* ---------------------- */

  --float-call-btn-bg: linear-gradient(
    135deg,
    var(--accent-color) 0%,
    var(--primary-color) 100%
  );
  --float-call-btn-shadow: 0 4px 12px rgba(186 189 194 / 30%);
  --float-call-btn-hover: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--accent-color) 100%
  );
  --float-call-btn-hover-shadow: 0 8px 20px rgba(34, 35, 36, 0.4);
  --float-call-btn-focus-shadow: 0 8px 20px rgba(255, 255, 255, 0.82);
  --float-call-btn-pulse-shadow: 0 8px 20px rgba(255, 255, 255, 0.82);
}
